<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/style/home.css">
</head>

<body>
    <div class="container">
        <div class="profile"><!--first name + last name--></div>
        <div class="balance">
            <span>Total balance</span>
            <h1>$123456</h1>
        </div>
        <div class="options">
            <div class="option"></div>
            <div class="option"></div>
            <div class="option"></div>
        </div>
        <div class="bank-options">
            <div class="withdraw">
                <span>Withdraw</span>
                <br>
                <br>
                <input type="text" placeholder="Enter amount" id="withdraw-input">
             </div>
            <div class="deposit"> 
                <span>Deposit</span>
                <br>
                <br>
                <input type="text" placeholder="Enter amount" id="deposit-input">
            </div>
        </div>
    </div>
</body>

</html>