<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <!--____styles____-->
    <link rel="stylesheet" href="../style/button.css">
    <link rel="stylesheet" href="../style/style.css">
    <link rel="stylesheet" href="../style/login.css">

    <script async src="../public/js/login.js"></script>
</head>
<body>
    <form action="/login" method="post">
    <section class="section-login">
        <h1>Login To Your <span class="highlight">Account</span></h1>
        <label for="Enter email"><input type="email" name="email" placeholder="Enter email" name="email" id="email" required></label>
        <label for="Enter Account password"><input type="password" name="password" placeholder="Enter Your password" id="password"></label>
        <button type="submit">Login</button>
    </section>
    </form>
</body>
</html>