<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Account</title>

    <!--____styles____-->
    <link rel="stylesheet" href="../style/button.css">
    <link rel="stylesheet" href="../style/style.css">
    <link rel="stylesheet" href="../style/newUser.css">
</head>

<body>
    <form action="/create" method="post">
        <h1>Create new Account</h1>
        <label for="First name">First name</label>
        <input type="text" name="firstName" placeholder="Enter your firstname" id="first-name">
        <label for="lastname">Last name</label>
        <input type="text" name="lastName" placeholder="Enter your lastname" id="last-name">
        <div id="radio-container">
            <label for="Gender">Gender</label>
            <input type="radio" id="male" name="gender" value="male">
            <input type="radio" id="female" name="gender" value="female">
        </div>
        <label for="Enter your age">Age</label>
        <input type="number" placeholder="Enter your age" id="age" name="age">
        <label for="phone number">Phone number</label>
        <input type="tel" placeholder="Phone number" name="phoneNumber">
        <label for="Enter email">Enter email</label>
        <input type="email" placeholder="Enter email" id="email" name="email">
        <label for="Create password">Set a password</label>
        <input type="password" placeholder="Password" name="accountPasskey">
        <br>
        <button type="submit">Signup</button>
    </form>
</body>

</html>