<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Form submitted successfully</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum perspiciatis, dolores consequatur perferendis atque nihil saepe temporibus enim aspernatur necessitatibus itaque doloribus. Voluptatibus eos odio, nemo repellat quasi veritatis quae.</p>
</body>
</html>